.error-text{
    margin: auto;
    background-color: #008776;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding: 10px 50px;
    
}

.error-text h1{
    font-weight: 500;
    font-size: 24px;
}


@media (min-width: 768px) {


    .error-text h1{
        font-weight: 400;
        font-size: 28px;
    }
}
