.home--hero-section{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.home--hero-textbox{
    background-color: #09224C;
    color: white;
    font-style: italic;
    text-transform: uppercase;
    
    margin: 1em;
    min-width: fit-content;
    border-radius: 20px;
    box-shadow: -8px 10px 6px #999;

    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home--hero-textbox h1, .home--hero-textbox h2{
    font-weight: 500;
}

.home--userlogin{
    display: flex;
    flex-direction: column;
}

.home--login{
    background-color: #008776;
    color: white;
    text-align: center;
    border-radius: 20px;

    padding: 15px 30px;

    text-transform: uppercase;
    font-weight: 500;

    margin: 1em 2em;
}

.home--link{
    text-decoration: none;
    color: white;
    
}


@media (min-width: 768px) {
    .home--hero-section{       
        flex-direction: row;
        padding: 10px 15vw;
        margin-top: 5%;
    }
}
