.profil--hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.profil--hero-section h2{
    margin:0;
    margin-bottom: 15px;
    border-bottom: 2px solid white;

}

.profil--hero-section p{
    margin: 0;
    font-weight: 600;
}

.profil--data{
    background-color: #008776;
}

.profil--progression{
    background-color: #09224C;
}

.profil--data, .profil--progression{
    margin: 20px;
    padding: 20px;
    width: 70vw;
}

.profil--el{
    background-color: white;
    color: rgb(61, 61, 61);
    padding: 10px;
    margin: 8px 0;

    font-weight: 400;

    border-radius: 20px;
}

.profil--el ul{
    list-style: none;
}


@media (min-width: 801px) {
    .profil--hero-section{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        align-items: start;
        color: white;
        width: 90%;
    }

    .profil--data{
        background-color: #008776;
        display: flex;
        flex-direction: column;
        
    }


    
}




