.regist-box{
    background-color: #008776;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    border-radius: 30px;
    color: white;
    text-align: center;
}

.regist-box h1{
    padding: 0;
    margin: 10px;
}

.regist-form{
    display: flex;
    flex-direction: column;
    margin: 0 2em;
}

.regist-form-el{
    border-radius: 20px;
    margin: 10px 0;
    padding: 10px 30px;
    border: none;
    outline: none;
    background-color: #D9D9D9;
}

.regist-box h1{
    font-weight: 500;
}

.regist-box h3{
    font-weight: 300;
    font-size: medium;
    margin-top: 10px;
    font-style: italic;
}

.form-submit{
    display: inline;
    align-self: center;
    padding: 10px 40px;

    margin-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 20px;

    border: NONE;
}

.form-submit:hover{
    background-color: #D9D9D9;
}




@media (min-width: 768px) {
    .regist-box{
        width: 40vw;
        height: 70vh; 
    }
}