.tananyag-box {
  background-color: #09224c;
  opacity: 90%;  /* Csökkentettük az átlátszóságot */
  color: white;
  margin: 20px 10px;
  padding: 20px 30px;
  border-radius: 20px;
}

.tananyag-box a {
  text-decoration: none;
  color: white;
}

.tananyag-box a:hover {
  text-decoration: underline;
}

.tananyag-box ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tananyag-box h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

.week {
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 15px; /* Növeltük a távolságot */
  background-color: #2b4b6e;  /* Nagyon sötét kék */
}




.week h3 {
  text-align: center; 
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  border-bottom: 2px solid #fff;  /* Fehér szegély a jobb kontraszt érdekében */
}


@media (min-width: 768px) {
  .tananyag-box {
    width: 70vw;
    margin: 20px auto;
  }
}
