/* Footer CSS */
footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}


footer p {
    margin: 0;
    padding: 0;
    font-size: 11px;
}