header {
    background-color: #09224C;
    height: 11vh;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

header div {
    display: flex;
    align-items: center;
    width: 20%;
}

.pte-logo {
    max-width: 80px;
    max-height: 90%;
    object-fit: contain;
}

.limes-logo {
    margin-left: 10px;
    max-width: 150px;
    object-fit: contain;
}

.header-nav {
    display: none;  
    flex-direction: column;
    position: absolute;
    top: 13vh;
    right: 0;
    background-color: #008776;
    width: 50%;
   
   
    text-align: center;
    z-index: 1;
}

.header-nav.open {
    display: flex;  
}

.nav-el {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: inline;
    font-weight: 500;
    font-size: large;
    
}

.nav-el:hover {
    text-decoration: underline;
}

.fa-bars {
    color: white;
    margin: auto 5%;
    font-size: 150%;
    position: absolute;
    right: 5%;
    top: 5vh;
    cursor: pointer;
}

.site-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}




@media (min-width: 768px) {
    .fa-bars {
        display: none;  
    }

    header{
        justify-content: space-between;
        height: 10vh;
        padding: 10px 10vw;
    }

    .header-nav {
        display: flex; 
        flex-direction: row;
        position: static;
        margin-left: 100px;   
        background-color: none;
        width: auto;
        background-color: #09224C;
        font-size: medium;
    }

    .images{
        width: 150px;
    }


    .pte-logo {
        width: 75px;
        max-height: 75px;
        object-fit: contain;
    }

    .limes-logo{
        width: 100px;
        
        object-fit: contain;
    }
    

}
